---
version: 2.1

debian-steps: &debian-steps
  steps:
    - checkout
    - run: ci/circleci-build-debian.sh
    - run: sh -c "cd /build-$OCPN_TARGET; /bin/bash < upload.sh"
    - run: sh -c "ci/git-push.sh /build-$OCPN_TARGET"

flatpak-steps: &flatpak-steps
  steps:
    - checkout
    - restore_cache:
        keys:
          - <<parameters.cache-key>>-{{ checksum "ci/circleci-build-flatpak.sh" }}
    - run: ci/circleci-build-flatpak.sh
    - save_cache:
        key: <<parameters.cache-key>>-{{ checksum "ci/circleci-build-flatpak.sh" }}
        paths:
          - /home/circleci/.local/share/flatpak/repo
    - run: cd /build-flatpak; /bin/bash < upload.sh
    - run: ci/git-push.sh /build-flatpak

jobs:

  build-raspbian-bullseye:
    machine:
      image: ubuntu-2004:202101-01
    resource_class: arm.medium
    environment:
      - OCPN_TARGET: raspbian-armhf
      - CMAKE_BUILD_PARALLEL_LEVEL: 2
    parameters:
      cache-key:
        type: string
        default: "fp-arm20-v2"
    steps:
      - checkout
      - run: ci/generic-build-raspbian-armhf.sh
      - run: cd build-raspbian; /bin/bash < upload.sh
      - run: ci/git-push.sh build-raspbian

  build-flatpak-arm64:
    machine:
      image: ubuntu-2004:202101-01
    resource_class: arm.medium
    environment:
      - OCPN_TARGET: flatpak-arm64
      - CMAKE_BUILD_PARALLEL_LEVEL: 2
    parameters:
      cache-key:
        type: string
        default: "fp-arm20-v2"
    <<: *flatpak-steps

  build-flatpak-x86-2008:
    machine:
      image: ubuntu-2004:202010-01
    environment:
      - OCPN_TARGET: flatpak
      - CMAKE_BUILD_PARALLEL_LEVEL: 2
    parameters:
      cache-key:
        type: string
        default: "fp-x86-20-v2"
    <<: *flatpak-steps


  build-macos:
    macos:
      xcode: "12.5.1"
    environment:
      - OCPN_TARGET: macos
      - CMAKE_BUILD_PARALLEL_LEVEL: 2
    steps:
      - checkout
      - run: ci/circleci-build-macos.sh
      - run: >
          sh -c "otool -L build-osx/app/*/OpenCPN.app/Contents/PlugIns/*.dylib"
      - run: cd build-osx; /bin/bash < upload.sh
      - run: ci/git-push.sh  build-osx

  build-bionic:
    docker:
      - image: cimg/base:stable-18.04
    environment:
      - OCPN_TARGET: bionic
      - CMAKE_BUILD_PARALLEL_LEVEL: 2
    <<: *debian-steps

  build-bionic-gtk3:
    docker:
      - image: cimg/base:stable-18.04
    environment:
      - BUILD_GTK3: true
      - CMAKE_BUILD_PARALLEL_LEVEL: 2
      - OCPN_TARGET: bionic-gtk3
    <<: *debian-steps

  build-focal:
    docker:
      - image: cimg/base:stable-20.04
    environment:
      - OCPN_TARGET: focal
      - CMAKE_BUILD_PARALLEL_LEVEL: 2
    <<: *debian-steps

  build-buster:
    docker:
      - image: circleci/buildpack-deps:buster-scm
    environment:
      - OCPN_TARGET: buster
      - CMAKE_BUILD_PARALLEL_LEVEL: 2
    <<: *debian-steps

  build-android-arm64:
    docker:
      - image: circleci/android:api-28-ndk
    environment:
      - OCPN_TARGET: android-aarch64
      - CMAKE_BUILD_PARALLEL_LEVEL: 2
    steps:
      - checkout
      - run: ci/circleci-build-android.sh
      - run: sh -c "cd /build-$OCPN_TARGET; /bin/bash < upload.sh"
      - run: sh -c "ci/git-push.sh /build-$OCPN_TARGET"

  build-android-armhf:
    docker:
      - image: circleci/android:api-28-ndk
    environment:
      - OCPN_TARGET: android-armhf
      - CMAKE_BUILD_PARALLEL_LEVEL: 2
    steps:
      - checkout
      - run: ci/circleci-build-android.sh
      - run: sh -c "cd /build-$OCPN_TARGET; /bin/bash < upload.sh"
      - run: sh -c "ci/git-push.sh /build-$OCPN_TARGET"

std-filters: &std-filters
  filters:
    branches:
      ignore:
        - tmp
        - /tmp-.*/

workflows:
  version: 2
  build_all:
    jobs:

      - build-flatpak-arm64:
          <<: *std-filters

      - build-flatpak-x86-2008:
          <<: *std-filters

      - build-macos:
          <<: *std-filters

      - build-bionic-gtk3:
          <<: *std-filters

      - build-bionic:
          <<: *std-filters

      - build-focal:
          <<: *std-filters

      - build-buster:
          <<: *std-filters

      - build-android-arm64:
          <<: *std-filters

      - build-android-armhf:
          <<: *std-filters

      - build-raspbian-bullseye:
          <<: *std-filters
